@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;
}

@theme {
    /* ================= Colors =================== */
    --color-primary: #1d2b3e;
    --color-primary-soft: #111827;
    --color-primary-light: #1f2937;

    --color-accent: #ba0035;
    --color-accent-hover: #be123c;
    --color-accent-light: #f43f5e;

    --color-bg-main: #ffffff;
    --color-bg-section: #f1f5f9;
    --color-bg-muted: #f1f5f9;
    --color-bg-dark: #1d2b3e;

    --color-text-primary: #0f172a;
    --color-text-secondary: #475569;
    --color-text-muted: #94a3b8;
    --color-text-white: #ffffff;

    --color-border: #e2e8f0;
    --color-border-dark: #1f2937;

    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
    /* ================= Colors =================== */

    /* ================= Font sizes =============== */
    --text-xs: 0.75rem; /* 12px */
    --text-sm: 0.875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-lg: 1.125rem; /* 18px */
    --text-xl: 1.25rem; /* 20px */
    --text-2xl: 1.5rem; /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem; /* 36px */
    --text-5xl: 3rem; /* 48px */
    --text-6xl: 3.75rem; /* 60px */
    /* ================= Font sizes ============== */
}

@layer utilities {
    .section-padding {
        @apply p-5 py-15;
    }
    .navbar-li {
        @apply hover:text-text-secondary cursor-pointer transition;
    }
    .navbar-category-li {
        @apply p-4 hover:bg-bg-muted text-text-primary hover:text-text-secondary cursor-pointer transition;
    }
    .sidebar-li {
        @apply p-2 hover:bg-bg-muted text-text-primary hover:text-text-secondary text-sm cursor-pointer transition;
    }
    .sidebar-a {
        @apply flex gap-2 p-2 rounded transition  text-text-primary hover:text-text-secondary text-sm hover:bg-bg-muted;
    }
    .sidebar-category-li {
        @apply p-2 hover:bg-bg-muted  hover:text-text-secondary cursor-pointer transition;
    }
    .heading {
        @apply text-4xl md:text-5xl lg:text-6xl font-black;
    }
    .grid-auto {
        @apply grid gap-6 grid-cols-[repeat(auto-fit,minmax(250px,1fr))];
    }
}
